In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score

from src.data.utils import get_split

In [2]:
clinical_df = pd.read_csv("../data/clinical_info.csv").set_index("patient_id")

In [3]:
df = pd.read_csv("/home/valentin/python_wkspce/plc_segmentation/results/pretrained_unet__alpha_0.75__upsampling_upsampling__split_0__oversample_True__rangle_None__rshift_None__20211214-083642/only_volume.csv")
df = df.set_index("patient_id").drop("Unnamed: 0", axis=1)

In [4]:
ids_train, ids_val, ids_test = get_split(0)

In [5]:
clinical_df

             is_chuv  plc_status   pT   pN    M Stage    pathologic_type
patient_id
PatientLC_1        0           0    4  1.0  0.0   III                SCC
PatientLC_2        1           1    3  0.0  0.0    II                ADC
PatientLC_3        1           1    3  2.0  0.0   III                ADC
PatientLC_4        1           0   1b  0.0  0.0     I                ADC
PatientLC_5        1           1   2a  2.0  0.0   III  NSCLC poorly diff
...              ...         ...  ...  ...  ...   ...                ...
Case_16            1           0  NaN  NaN  NaN   NaN                NaN
Case_17            1           0  NaN  NaN  NaN   NaN                NaN
Case_18            1           0  NaN  NaN  NaN   NaN                NaN
Case_19            1           0  NaN  NaN  NaN   NaN                NaN
Case_20            1           0  NaN  NaN  NaN   NaN                NaN

[112 rows x 7 columns]

In [6]:
df = pd.concat([df, clinical_df["plc_status"]], axis=1).dropna(axis=0)

In [7]:
df

                volume  plc_status
Case_1         10855.0           0
Case_10          125.0           0
Case_11        17166.0           0
Case_12         8353.0           0
Case_13       127486.0           0
...                ...         ...
PatientLC_90     511.0           0
PatientLC_91   84796.0           0
PatientLC_92   91908.0           1
PatientLC_93   36118.0           0
PatientLC_94    4151.0           0

[107 rows x 2 columns]

In [8]:
roc_auc_score(df.loc[ids_test ,"plc_status"], df.loc[ids_test, "volume"])

0.5935727788279773

In [9]:
roc_auc_score(df.loc[ids_val ,"plc_status"], df.loc[ids_val, "volume"])

0.48

In [ ]:
roc_auc_score(df.loc[ids_train ,"plc_status"], df.loc[ids_train, "volume"])