In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/home/valentin/python_wkspce/plc_segmentation/data/clinical_info.csv").set_index("patient_id")

In [6]:
patient_list = [
    p for p in df.index
    if p not in ["PatientLC_63", "PatientLC_21", "PatientLC_71"]
]
patient_list = [
    p for p in df.index
    if not p.startswith("Case")
]

In [9]:
df = df.loc[patient_list,:]

In [17]:
df["Stage"].unique()

array(['III', 'II', 'I', 'IV'], dtype=object)

In [21]:
df[(df["plc_status"]==0) & (df["Stage"]=="III")].shape

(3, 7)

In [29]:
df.groupby("Stage").mean()

        is_chuv  plc_status        pN         M
Stage
I      0.620690    0.586207  0.000000  0.000000
II     0.517241    0.724138  0.413793  0.000000
III    0.617647    0.911765  1.882353  0.058824
IV     1.000000    0.000000  2.500000  1.000000